########################################
# JetBrains / PhpStorm clutter
########################################
.idea/

########################################
# WordPress core – we’re not versioning WP itself
########################################
/wp-admin/
/wp-includes/
/index.php
/wp-*.php
/xmlrpc.php
/readme.html
/license.txt

########################################
# Config & secrets
########################################
wp-config.php
.htaccess
*.env
*.log

########################################
# Content that changes constantly
########################################
/wp-content/uploads/
/upgrade/
/wp-content/aiwm-backups/

########################################
# Themes & plugins we don’t care about
########################################
/wp-content/themes/twenty*/
/wp-content/plugins/**                     # ignore every plugin by default

########################################
# Keep YOUR code – whitelists below
########################################
!wp-content/plugins/                       # <-- allow Git to descend
!wp-content/plugins/custom-pd-toc/         # <-- allow the folder itself
!wp-content/plugins/custom-pd-toc/**       # <-- track everything inside

# you can leave the other custom-plugin rules as they were
!wp-content/plugins/horizontal-scroll-index/**
!wp-content/plugins/pd-mailpoet-automation-cloner/**
!wp-content/plugins/PD_warm_cf_cache/**
!wp-content/plugins/pdnotion/**
!wp-content/plugins/generator-load-calculator/**
!wp-content/plugins/custom-pdf-invoices/**

########################################
# OS odds-and-ends
########################################
.DS_Store
Thumbs.db