########################################
# JetBrains / PhpStorm clutter
########################################
.idea/

########################################
# WordPress core – we’re not versioning WP itself
########################################
/wp-admin/
/wp-includes/
/index.php
/wp-*.php
/xmlrpc.php
/readme.html
/license.txt

########################################
# Config & secrets
########################################
wp-config.php
.htaccess
*.env
*.log

########################################
# Content that changes constantly
########################################
/wp-content/uploads/
/upgrade/
/wp-content/aiwm-backups/

########################################
# Themes & plugins we don’t care about
########################################
/wp-content/themes/twenty*/
/wp-content/plugins/**                     # ignore every plugin by default

########################################
# Keep YOUR code – whitelists below
########################################
!wp-content/plugins/                       # allow Git to descend

# --- custom-pd-toc ----------------------------------------------------------
!wp-content/plugins/custom-pd-toc/         # allow the folder itself
!wp-content/plugins/custom-pd-toc/**       # everything inside

# --- horizontal-scroll-index ------------------------------------------------
!wp-content/plugins/horizontal-scroll-index/
!wp-content/plugins/horizontal-scroll-index/**

# --- pd-mailpoet-automation-cloner -----------------------------------------
!wp-content/plugins/pd-mailpoet-automation-cloner/
!wp-content/plugins/pd-mailpoet-automation-cloner/**

# --- PD_warm_cf_cache -------------------------------------------------------
!wp-content/plugins/PD_warm_cf_cache/
!wp-content/plugins/PD_warm_cf_cache/**

# --- pdnotion ---------------------------------------------------------------
!wp-content/plugins/pdnotion/
!wp-content/plugins/pdnotion/**

# --- generator-load-calculator ---------------------------------------------
!wp-content/plugins/generator-load-calculator/
!wp-content/plugins/generator-load-calculator/**

# --- custom-pdf-invoices ----------------------------------------------------
!wp-content/plugins/custom-pdf-invoices/
!wp-content/plugins/custom-pdf-invoices/**
/wp-content/plugins/custom-pdf-invoices/vendor/**/*.ttf
/wp-content/plugins/custom-pdf-invoices/vendor/**/*.otf

########################################
# OS odds-and-ends
########################################
.DS_Store
Thumbs.db